<!doctype html>
<html>
<head>
    <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Imageboard</title>
    <link href="/style.css" rel="stylesheet" />
</head>
<body>
    <h1>Imageboard</h1>
    <main id="main">
        
        <div class="upload-area">
            <div><label>Title</label><input v-model="title" name="title" class="input"></div>
            <div><label>Username</label><input data-lpignore="true" v-model="username" name="username" class="input"></div>
            <div><label>Description</label><input v-model="description" name="description" class="input"></div>
            <div>
       
                <input class="file-input"
                    id="file"
                    name="file"
                    type="file"
                    accept="image/*"
                    @change="setFile"
                > 
            <label for="file" class="file-label">Choose a file</label>
            <button v-on:click="upload">Upload</button>
        </div>
        
        </div>
        
            <div class="board">
                <div v-for="element in imageData">
                    <div class="img-text-container">
                    <img :key="element.id" class="image" :src="element.url" />
                    <p>{{element.title}}</p>
                    </div>
                </div>
            
            </div>
      
     
    </main>

    <script src="/js/app.js" type="module" crossorigin="use-credentials"></script>
</body>
</html>
