* {
    font-family: helvetica;
}

header {
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.ravioli {
    height: 30px;
    object-fit: cover;
    margin-right: 5px;
}

.ravioli:hover {
    animation-duration: 3s;
    animation-name: rotate;
}

@keyframes rotate {
    100% {
        transform: rotate(3turn);
    }
}

h1,
h2 {
    font-family: Impact;
}
#main {
    display: grid;
    grid-template-rows: 0.5fr 8fr 0.5fr;
}

span {
    margin-right: 5px;
}

.upload-area {
    width: 100%;
    grid-row: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.board {
    grid-row: 2;
}

.image {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.board {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.img-text-container {
    height: 350px;
    border: 1px solid black;
    margin-bottom: 10px;
}

.file-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.file-input + label {
    text-align: center;
    font-size: 1.5em;
    font-family: Impact;
    width: 150px;
    height: 30px;
    color: white;
    background-color: black;
    display: inline-block;
    cursor: pointer;
    margin-left: 5px;
}

.file-input + label:hover {
    background-color: red;
}

.input {
    border: 0;
    outline: 0;
    width: 150px;
    height: 30px;
    border: 2px solid black;
    padding: 0px;
    margin-left: 5px;
    margin-right: 10px;
}

button {
    background-color: black;
    width: 100px;
    height: 30px;
    border: none;
    color: white;
    font-family: impact;
    font-size: 1.5em;
    text-align: center;
    padding: 0px;
    margin-left: 5px;
    cursor: pointer;
}
button:hover {
    background-color: red;
}

.more-button {
    grid-row: 3;
    place-self: center;
}

.modal {
    position: relative;
    background-color: rgb(0, 0, 0, 0.3);
    color: white;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
}

.modal-center {
    position: absolute;
    background: black;
    opacity: 1;
    height: 90%;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.error-message {
    grid-column: 2;
    grid-row: 2;
}

.img-container {
    position: relative;
    grid-column: 1;
    grid-row: 1;
    height: 70%;
    width: 100%;
}

.modal-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.left-button {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    background-color: black;
    opacity: 0.8;
}

.right-button {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    background-color: black;
    opacity: 0.8;
}

.arrow {
    position: absolute;
    top: 10px;
    left: 10px;
    transform: translateY(-50%);
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

#right-arrow {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

#left-arrow {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.modal-text {
    background-color: rgb(0, 0, 0, 0.3);
    position: absolute;
    z-index: 100;
    color: white;
    width: 100%;
}

.img-info {
    margin-top: 5px;
    margin-left: 5px;
}

.comment-section {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 30%;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.leave-comment {
    align-self: center;
    justify-self: start;
    margin-left: 5px;
    grid-row: 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.comments {
    width: 100%;
    align-self: stretch;
    grid-row: 1;
    overflow-y: auto;
    color: black;
}

.comment-field {
    text-justify: center;
}

h2 {
    margin: 0px;
}

.show-comments {
    border-top: lightgray 1px solid;
    border-bottom: lightgray 1px solid;
    color: black;
}

#upload-comment {
    background-color: white;
    color: black;
}
#upload-comment:hover {
    background-color: red;
}

textarea {
    top: 50%;
    width: 80%;
    height: 30px;
    padding: 12px 20px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

.preview {
    width: 50px;
    height: 50px;
}
